body {
    background-color: #cccccc;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 1200'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(0,683,328)' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23d1d1d1'/%3E%3Cstop offset='0.02' stop-color='%23cccccc'/%3E%3Cstop offset='0.02' stop-color='%23cccccc'/%3E%3Cstop offset='0.032' stop-color='%23cccccc'/%3E%3Cstop offset='0.032' stop-color='%23c8c8c8'/%3E%3Cstop offset='0.056' stop-color='%23cccccc'/%3E%3Cstop offset='0.056' stop-color='%23d6d6d6'/%3E%3Cstop offset='0.07' stop-color='%23cccccc'/%3E%3Cstop offset='0.07' stop-color='%23d4d4d4'/%3E%3Cstop offset='0.1' stop-color='%23cccccc'/%3E%3Cstop offset='0.1' stop-color='%23aeaeae'/%3E%3Cstop offset='0.126' stop-color='%23cccccc'/%3E%3Cstop offset='0.126' stop-color='%23c5c5c5'/%3E%3Cstop offset='0.142' stop-color='%23cccccc'/%3E%3Cstop offset='0.142' stop-color='%23dedede'/%3E%3Cstop offset='0.159' stop-color='%23cccccc'/%3E%3Cstop offset='0.159' stop-color='%23dedede'/%3E%3Cstop offset='0.17' stop-color='%23cccccc'/%3E%3Cstop offset='0.17' stop-color='%23adadad'/%3E%3Cstop offset='0.197' stop-color='%23cccccc'/%3E%3Cstop offset='0.197' stop-color='%23c9c9c9'/%3E%3Cstop offset='0.218' stop-color='%23cccccc'/%3E%3Cstop offset='0.218' stop-color='%23c9c9c9'/%3E%3Cstop offset='0.239' stop-color='%23cccccc'/%3E%3Cstop offset='0.239' stop-color='%23a3a3a3'/%3E%3Cstop offset='0.254' stop-color='%23cccccc'/%3E%3Cstop offset='0.254' stop-color='%23ebebeb'/%3E%3Cstop offset='0.283' stop-color='%23cccccc'/%3E%3Cstop offset='0.283' stop-color='%23d2d2d2'/%3E%3Cstop offset='0.294' stop-color='%23cccccc'/%3E%3Cstop offset='0.294' stop-color='%23c4c4c4'/%3E%3Cstop offset='0.305' stop-color='%23cccccc'/%3E%3Cstop offset='0.305' stop-color='%23747474'/%3E%3Cstop offset='0.332' stop-color='%23cccccc'/%3E%3Cstop offset='0.332' stop-color='%23d3d3d3'/%3E%3Cstop offset='0.346' stop-color='%23cccccc'/%3E%3Cstop offset='0.346' stop-color='%23e1e1e1'/%3E%3Cstop offset='0.362' stop-color='%23cccccc'/%3E%3Cstop offset='0.362' stop-color='%239c9c9c'/%3E%3Cstop offset='0.381' stop-color='%23cccccc'/%3E%3Cstop offset='0.381' stop-color='%23cacaca'/%3E%3Cstop offset='0.415' stop-color='%23cccccc'/%3E%3Cstop offset='0.415' stop-color='%23c1c1c1'/%3E%3Cstop offset='0.428' stop-color='%23cccccc'/%3E%3Cstop offset='0.428' stop-color='%23c6c6c6'/%3E%3Cstop offset='0.442' stop-color='%23cccccc'/%3E%3Cstop offset='0.442' stop-color='%23d9d9d9'/%3E%3Cstop offset='0.456' stop-color='%23cccccc'/%3E%3Cstop offset='0.456' stop-color='%23d3d3d3'/%3E%3Cstop offset='0.498' stop-color='%23cccccc'/%3E%3Cstop offset='0.498' stop-color='%23c7c7c7'/%3E%3Cstop offset='0.511' stop-color='%23cccccc'/%3E%3Cstop offset='0.511' stop-color='%23b9b9b9'/%3E%3Cstop offset='0.532' stop-color='%23cccccc'/%3E%3Cstop offset='0.532' stop-color='%23c5c5c5'/%3E%3Cstop offset='0.541' stop-color='%23cccccc'/%3E%3Cstop offset='0.541' stop-color='%23c8c8c8'/%3E%3Cstop offset='0.56' stop-color='%23cccccc'/%3E%3Cstop offset='0.56' stop-color='%23d8d8d8'/%3E%3Cstop offset='0.581' stop-color='%23cccccc'/%3E%3Cstop offset='0.581' stop-color='%23e0e0e0'/%3E%3Cstop offset='0.6' stop-color='%23cccccc'/%3E%3Cstop offset='0.6' stop-color='%23aaaaaa'/%3E%3Cstop offset='0.618' stop-color='%23cccccc'/%3E%3Cstop offset='0.618' stop-color='%23dbdbdb'/%3E%3Cstop offset='0.656' stop-color='%23cccccc'/%3E%3Cstop offset='0.656' stop-color='%23b5b5b5'/%3E%3Cstop offset='0.679' stop-color='%23cccccc'/%3E%3Cstop offset='0.679' stop-color='%23cecece'/%3E%3Cstop offset='0.689' stop-color='%23cccccc'/%3E%3Cstop offset='0.689' stop-color='%23e6e6e6'/%3E%3Cstop offset='0.720' stop-color='%23cccccc'/%3E%3Cstop offset='0.720' stop-color='%238b8b8b'/%3E%3Cstop offset='0.734' stop-color='%23cccccc'/%3E%3Cstop offset='0.734' stop-color='%23cecece'/%3E%3Cstop offset='0.748' stop-color='%23cccccc'/%3E%3Cstop offset='0.748' stop-color='%23bbbbbb'/%3E%3Cstop offset='0.764' stop-color='%23cccccc'/%3E%3Cstop offset='0.764' stop-color='%23d6d6d6'/%3E%3Cstop offset='0.788' stop-color='%23cccccc'/%3E%3Cstop offset='0.788' stop-color='%23cbcbcb'/%3E%3Cstop offset='0.808' stop-color='%23cccccc'/%3E%3Cstop offset='0.808' stop-color='%23c6c6c6'/%3E%3Cstop offset='0.831' stop-color='%23cccccc'/%3E%3Cstop offset='0.831' stop-color='%23989898'/%3E%3Cstop offset='0.856' stop-color='%23cccccc'/%3E%3Cstop offset='0.856' stop-color='%237d7d7d'/%3E%3Cstop offset='0.872' stop-color='%23cccccc'/%3E%3Cstop offset='0.872' stop-color='%23c2c2c2'/%3E%3Cstop offset='0.894' stop-color='%23cccccc'/%3E%3Cstop offset='0.894' stop-color='%23cbcbcb'/%3E%3Cstop offset='0.914' stop-color='%23cccccc'/%3E%3Cstop offset='0.914' stop-color='%23cdcdcd'/%3E%3Cstop offset='0.942' stop-color='%23cccccc'/%3E%3Cstop offset='0.942' stop-color='%23cdcdcd'/%3E%3Cstop offset='0.957' stop-color='%23cccccc'/%3E%3Cstop offset='0.957' stop-color='%23c5c5c5'/%3E%3Cstop offset='0.973' stop-color='%23cccccc'/%3E%3Cstop offset='0.973' stop-color='%23d8d8d8'/%3E%3Cstop offset='1' stop-color='%23cccccc'/%3E%3Cstop offset='1' stop-color='%23999999'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' x='0' y='0' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: transparent;
    z-index: 1000;
    position: relative;
    
  }
  
  .navbar-logo a {
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    color: #333333;
    text-decoration: none;
    nav-down: 10px;
  }
   

  
  .navbar-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
  }
  
  .navbar-menu li {
    margin: 0 15px;
  }
  
  .navbar-menu li a {
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
  }
  
  .navbar-menu li a:hover {
    color: #f44336;
  }
  
  
  .navbar-auth {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    top: 10px;
  }
  
  .navbar-login, .navbar-signup {
    display: inline-block;
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #070606;
    background-color:transparent;
    border: none;
    border-radius: 2rem;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
  }
  
  .navbar-login:hover, .navbar-signup:hover {
    background-color: #5cdf67;
    box-shadow: 0px 2px 20px 10px #97B1BF;
    color: black;

  }
  
  .navbar-hamburger {
    display: none;
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
  }
  
  .hamburger-line {
    width: 30px;
    height: 4px;
    background-color: #333333;
    margin: 5px 0;
    transition: transform 0.2s ease-in-out;
  }
  
  @media only screen and (max-width: 768px) {
    .navbar-logo a {
      font-size: 20px;
    }
  
    .navbar-menu {
      display: none;
      flex-direction: column;
      align-items: center;
      margin-top: 60px;
    }
    
  
    .navbar-menu li {
      margin: 10px 0;
    }
  
    .navbar-hamburger {
      display: block;
    }
  
    .navbar-hamburger.active .hamburger-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }
  
    .navbar-hamburger.active .hamburger-line:nth-child(2) {
      opacity: 0;
    }
  
    .navbar-hamburger.active .hamburger-line:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
    }
  
    .navbar-menu.active {
      display: flex;
    }
  }
  @import "https://fonts.googleapis.com/css2?family=Megrim&display=swap";
body{
  overflow: hidden;
  margin: 0;
}
#word{
  font-family: Megrim, cursive;
  font-size: 20vh;
  position: absolute;
  margin: 10;
  
  color: #fc0;
  -webkit-text-stroke: 0.15vh #c0f;
}


.try
{
  display: inline-block;
 position: fixed;
  left: 10px;
  bottom: 420px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: thin;
  color: #cec3cc;
  background-color:rgb(240, 228, 228);
  border: none;
  border-radius: 2rem;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
}
.try:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.try:active {
  color: #000
}

.try:active:after {
  background: transparent;
}

.try:hover:before {
  opacity: 1;
}

.try:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #885281;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
#word{
  
  font-family: Megrim, cursive;
  font-size: 5vh;
  position: absolute;
  margin: 10;
  text-align: center;

 
  color: rgb(219, 217, 210);
  -webkit-text-stroke: 0.15vh #c0f;

 
 animation-name: none;
 transition: none;
 transform: none;
 
}

.bottom-bg {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: #333;
  z-index: -10;
}

.cname{
  position: absolute;
  left: 95px;
  color: #000;
  
}

.error{
  position: absolute;
  top: 40%;
  color: whitesmoke;
  right: 74%;
  
}
.tooltip {
  position: relative;
  display: inline-block;
  color: red;
}
.tooltip:hover::before {
  content: attr(data-bobik) ' ';
  position: absolute;
  
  display: block;
  left: 100%;
  margin-left: 5px;
  padding: 5px;
  
  
  background: #000;
  color: #e7dfdf;
  border-radius: 4px;
  
  white-space: nowrap;
}







